.navbar{
    background-color: rgb(60, 24, 118);
}
.cars{
    color:rgb(132, 245, 61);
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h3{
    color: rgb(60, 24, 118);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:xx-large;
}